#divLogo {
    float: left;
    max-width: 100px;
    max-height: 100px;
    background-color: blue;
}

#imgLogo {
    width: 100px;
    height: 100px;

}

#divRaccourci {
    height: 100px;
}

.btMenu {
    height: 50px;

}


#btChangerVue {
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
}

.divDetChambre {
    position: relative;
    top: 50px;
    left: 15%;
}

#lstChambre {
    position: relative;
    left: 10px;
    top: 10px;
}

#btChecklist {
    position: relative;
    left: 15%;
    top: 100px;
}

#divAjoutSupp {
    position: relative;
    left: 50%;
}

#btSupp {
    width: 155px;
}

#listeOcc {
    position: relative;
    left: 85%;
    bottom: 100px;
}

#divEleve {
    width: 100px;

}

#divRdArrive {
    position: relative;
    left: 5%;

}

.textarea {
    width: 10%;


}

#divRemarque {
    position: relative;
    float:right;

}
#divRemarque2 {
    position: relative;


}
#divRdDepart {

    position: relative;


}



#listeOcc2 {
    position: relative;
    left: 65%;
    bottom: 100px;
}
#divCheckArr{
    float:left;
}
